
.gird-products{
    display: grid;
    justify-content: center;
    margin-top: 40px;
  }

.products{
    padding: 0px;
    width: 100%;
    grid-gap: 1rem;
    display: grid;

    object-fit: cover;
    width: 100%;
    margin: 0, auto;
}

.gird-products h3{
    color: rgb(214, 214, 214);
    padding: 5px;
}

.product {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
    display: grid;
}

.product .card{
    border: none;
    box-shadow: 6px 4px 15px rgb(65, 64, 64);
}

.product .card-body{
    width: 100%;
    color: #111111;
    background-color: whitesmoke;
    border: none;
  }


  .product .card-body p{
    font-weight: bold;
  }
  .product .card-body button{
    border-radius: 100%;
    transition: all 0.3s ease-in;
    width: 45px;
    height: 45px;
    border-width: 3px;
    border-color: rgb(255, 243, 227);
    background-color: transparent;
  }
  .product .card-body button:focus{
    box-shadow: none;
    width: 45px;
    height: 45px;
    border-color: rgb(255, 243, 227);
    background-color: transparent;
  }
  .product .card-body button:hover{
    transition: all 0.3s ease-in;
    width: 55px;
    height: 55px;
    font-size: 23px;
    border-color: rgb(255, 243, 227);
    background-color: transparent
  }

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .product{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .product{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 900px) and (max-width: 1300px) {
    .product{
        grid-template-columns: repeat(3, 1fr);
    }
}